<!DOCTYPE html>
<html>

<head>
  <title>echo登录账号</title>
  <style>
    a {
      color: #1890ff;
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
    }
    a:hover {
      text-decoration: underline;
    }
    #app>* {
      user-select: none;
    }
  </style>

<body>
  <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
  <div id="app">
    <div style="flex: 1;display: flex;align-items: center;justify-content: center">
      <h3>echo登录账号</h3>
    </div>

    <div style="flex: 1;display: flex;align-items: center;justify-content: center">
      <el-col :span="15">
        <el-input placeholder="echo平台账号" v-model="userName">
          <template slot="prepend">账号:</template>
        </el-input>
      </el-col>
    </div>
    <br>
    <div style="flex: 1;display: flex;align-items: center;justify-content: center">
      <el-col :span="15">
        <el-input placeholder="echo平台密码" show-password v-model="passWord">
          <template slot="prepend">密码:</template>
        </el-input>
      </el-col>
    </div>
    <br>
    <div style="flex: 1;display: flex;align-items: center;justify-content: center">
      <el-button type="success" @click="loginEcho">登 录</el-button>
    </div>


    <div style="display: flex;align-items: center;">
      <a @click="goRegister"> 没有?前往注册/忘记密码</a>
      <span style="font-size: 14px;justify-content: flex-end;flex: 1;display: flex;align-items: center;">登录即绑定设备</span>
    </div>
  </div>

  </div>


  <script src="js/vue.js"></script>
  <script src="element-ui/lib/index.js"></script>
  <script src="js/axios.min.js"></script>
  <script>
    const { ipcRenderer } = require('electron');
    const { Config } = require("./config/config")
    const { machineIdSync } = require("node-machine-id")
    new Vue({
      el: "#app",
      data() {
        return {
          Code: {
            PC_LOGIN_SUCCESS: 20010,
            PC_LOGIN_FAIL: 20011
          },
          userName: '',
          passWord: ''
        }
      },
      methods: {
        goRegister() {
          ipcRenderer.send('go-register');
        },
        loginEcho() {
          if (this.userName.trim() == "") {
            this.$message({
              showClose: true,
              message: '用户名不能为空',
              type: 'warning'
            });
            return;
          }
          if (this.passWord.trim() == "") {
            this.$message({
              showClose: true,
              message: '密码不能为空',
              type: 'warning'
            });
            return;
          }
          //登录的时候一并传送机器码
          axios.post(Config.JavanowHost + '/seerAccount/login/checkDevice', {
            pcWinDeviceId: machineIdSync(),
            userName: this.userName,
            passWord: this.passWord,
          }).then(resp => {
            resp = resp.data
            if (resp.code == this.Code.PC_LOGIN_SUCCESS) {
              //进行通信
              ipcRenderer.send('login-success-add-device', resp.data);
              this.$message({
                showClose: true,
                message: resp.msg,
                type: 'success'
              });
            } else {
              this.$message({
                showClose: true,
                message: resp.msg,
                type: 'error'
              });
            }
          })
        }
      },

    })
  </script>
</body>

</html>